


#blue {
    color:navy;
    background-color:whitesmoke;
    border-radius: 10%;
}

.col-md-8 {
    width: 1024px;
    margin: 0 auto;

}
#main,
#image {
    float:left
}

#figure {
        position: relative;
}
#image {
    width: 330px;
    height: 300px;
    margin-right: 20px;
}
#box {
    margin-left: 0px;
    margin-top: 30px;
    padding-top: 20px;
    color:black;
    background: white;
    
   
    
}
#body{
    background-color: lightgray;
}
.text{
    font-size: large;
}
.lphead{
    color: navy;
    font-size:xx-large;
}
.llhead{
    font-size:large;

}
#box1 {
    margin-top: 30px;
    padding-top: 20px;
    color:black;
    background: blueviolet;
   
}